={{ title }}
{{ author }}
v{{ version }}, {localdate}
:imagesdir: {{ images_directory }}
:title-page-background-image: {{ image }}[width={{ background_image_width }}, height={{ background_image_height }}, fit={{ fit }}, opacity={{ opacity }}%]
:title-page:
:toc:
:toclevels: {{ toc_levels }}
:sectnums:
:sectnumlevels: {{ section_number_levels }}
:xrefstyle: {{ xrefstyle }}
:source-highlighter: pygments
:icons: font
:docuuid: {{ doc_uuid }}
